
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 67% 95%;
    --foreground: 222 39% 17%;
    --card: 27 67% 97%;
    --card-foreground: 222 39% 17%;
    --popover: 27 67% 97%;
    --popover-foreground: 222 39% 17%;
    --primary: 28 90% 54%;
    --primary-foreground: 222 39% 10%;
    --secondary: 27 60% 90%;
    --secondary-foreground: 222 39% 17%;
    --muted: 27 60% 90%;
    --muted-foreground: 222 39% 40%;
    --accent: 222 39% 17%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 60% 85%;
    --input: 27 60% 85%;
    --ring: 28 90% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 39% 12%;
    --foreground: 27 67% 95%;
    --card: 222 39% 17%;
    --card-foreground: 27 67% 95%;
    --popover: 222 39% 17%;
    --popover-foreground: 27 67% 95%;
    --primary: 28 90% 54%;
    --primary-foreground: 222 39% 10%;
    --secondary: 222 39% 25%;
    --secondary-foreground: 27 67% 95%;
    --muted: 222 39% 25%;
    --muted-foreground: 27 67% 80%;
    --accent: 27 67% 95%;
    --accent-foreground: 222 39% 17%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 39% 25%;
    --input: 222 39% 25%;
    --ring: 28 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
